*{
    padding:0px;
    margin:0px;
}

.navbar{
    width: 100%;
    height: 50%;
    padding: 0;
   background-position: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
}

.navbar nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #c96523;
    border-radius: red;
    background: #fff;
    position: flex;
    left: 0;
    z-index: 100;
}


.navbar nav .logo img{
    height: 140px;
    margin-right: 180%;
    margin-left: -110px;
    width: auto;
    cursor: pointer;

}

.navbar nav ul{
    list-style: none;    
}

.navbar nav li{
    display: inline-block;
    padding: 0 10px;
}

.navbar nav li a{
    text-decoration: none;
    color: #000;
}

.navbar nav li a:hover{
    color: #462a10;
}

::selection{
    background-color:grey;
}

#bgphoto{
    position: relative;
    width:100%;
    height: 500px; 
}
#bgphoto img{   
    position: absolute; 
    width:100%;
    height:100%;
}
.bg-of-photo{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0px;
    width:100%;
    height:100%;
    background-color:rgba(224, 133, 15, 0.77);
}
.tittle h1{
    position:absolute;
    font-family: "Lora", serif;
    font-size: 45px;
font-weight: 600;
    color:white;
}
.tittle{
    display:flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height:12%;
}
.line{
    width:100px;
    height:2.5px;
    background-color:white;
}

.prg1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:70px;
}
.prg1 p{
    font-family: "Lora", serif;
    font-weight:100;
    font-size:17.4px;
    color:white;
}

button{
    width:12%;
    height:42px;
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 8px;
    border:2.65px solid black;
    transition: 0.5s;
    font-size:14.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color:white;
}
button:hover{
    background-color:rgba(0, 0, 0, 0.049);
    color:black;
}

#container{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 1600px;
    background-color:rgb(255, 255, 255);
}

.left{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:column;
    width:20%;
    height:100%;
    background-color:rgba(224, 133, 15, 0.618) ;
}
.books-in-left{
    display:flex;
    justify-content: center;
    align-items:center;
width:100%;
height:200px;
}
.books-in-left img{
    width:150px;
    border: 10px solid white;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    width:80%;
    height:100%;
    background-color:rgb(251, 251, 251);
}
.book{
    display:flex;
    justify-content: center;
    align-items: center;
    width:19%;
    height:200px;
    /* background-color:white; */
}
.book img{
    width:95%;
    border:13px solid rgba(224, 133, 15, 0.618) ;
}


/*FOOTER*/

footer {
    bottom: 0;
  }
  
  
  .footer-distributed {
    background-color: #1d0c01;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  .footer-distributed .footer-left {
    width: 30%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span {
    color: rgb(240, 150, 90);
  }
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .footer-distributed .footer-center img {
    margin-right: 10px;
    width: 25px; 
    height: 25px; 
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: rgb(240, 150, 90);
    text-decoration: none;
  }
  
  .footer-distributed .footer-right {
    width: 30%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
  }
  
  .footer-links a:hover {
    color: #3F71EA;
  }
  /*footer ends*/
  
  /*RESPONSIVE*/
  
/*hamburger menu*/
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #1d0c01;
  position: absolute;
  top: 55px; 
  right: 20px;
  z-index: 1000;
}
/*RESPONSIVE*/
@media only screen and (max-width: 1200px) {
  nav {
      padding: 10px; 
  }

  nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      background-color: white;
      width: 100%;
      text-align: center;
  }
  nav ul li a {
      color: black;
  }   

  nav ul.show {
      display: flex;
        position: relative;
        z-index: 5; 
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .menu-toggle {
      display: flex;
      bottom: 30px; 
      right: 20px; 
      z-index: 800;

  }
  nav .logo {
      padding: 5px 0px;
      height: 90px;
      margin-bottom: 60px;
      float: left;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
  }
  .navbar .main .main_img img{
    width: 690px;
    position: relative;
    bottom: 40px;
    right: 20px;
}
}

  @media (max-width: 700px) {
  
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
  }



