*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: contain;
    background-size: cover; /* Bën që imazhi të mbulojë tërë sipërfaqen e faqes */
    background-position: center; /* Pozicionon imazhin në qendër të faqes */
    background-image: url(Images/unnamed.jpg);
    background-position: center;
}

.navbar nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #c96523;
    box-shadow: 0 0 1px #583009;
    background: #fff;
    position: flex;
    left: 0;
    z-index: 100;
}


.navbar nav .logo img{
    height: 140px;
    margin-right: 180%;
    margin-left: -110px;
    width: auto;
    cursor: pointer;

}

.navbar nav ul{
    list-style: none;    
}

.navbar nav li{
    display: inline-block;
    padding: 0 10px;
}

.navbar nav li a{
    text-decoration: none;
    color: #000;
}

.navbar nav li a:hover{
    color: #582f17;
}

.navbar .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

.navbar .main h1{
    position: relative;
    font-size: 55px;
    bottom: 25px;
    right: 20px;
    color: #d36b09da;
}

.navbar .main h1 span{
    color: white;
}

.navbar .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}


.navbar .main .main_img img{
    width: 690px;
    position: relative;
    bottom: 40px;
    right: 20px;
}



/*SERVICES*/

.services{
    width: 100%;
    height: auto;
    margin: 140px 0;

}

.services .services_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services .services_box .services_card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 3px rgb(66, 32, 1);
    padding: 15px 10px;
}

.services .services_box .services_card i{
    color: black;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}

.services .services_box .services_card h3{
    margin-bottom: 10px;
}

.heading{
    text-align: center;
    text-align: center;
    font-size: 25px;
    color: #c96523;
    font-weight: bold;
    border-bottom: 2px solid #c96523;
}

.heading h2{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--bg-color);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
}

/*Librat*/
.new-book{
    margin-top: 2rem;
}

.new-book .box{
    position: relative;
    overflow: hidden;
    background: var(--second-color);
    width: 150px; 
    height: auto; 
}

.new-book .box img{
    background: var(--second-color);
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}


.new .heading{
    font: italic small-caps bold 46px cursive;
    font-variant: small-caps slashed-zero;
    font-family: cursive;
    color: #333;
}


/*kategorit*/
.kategori {
    margin-top: 80px; 
    padding: 1.5rem; 
    background-color: #f4f4f4; 
    text-align: center;
}

.kategori .tit {
    font-size: 2.3rem; 
    font: "Brush Script MT", "Brush Script Std", cursive;
    margin-bottom: 2rem; 
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #c96523;
}

.kategori .kategori-botimet {
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap; 
    gap: 15px; 
}

.kategori .botimet {
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    width: 20%; 
    overflow: hidden;
}

.kategori .botimet:hover {
    transform: scale(1.03); 
}

.kategori .kt img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.kategori .kt h4 {
    font-size: 1.2rem; 
    font: italic small-caps bold 14px/1.5 cursive; 
    color: #333;
    margin: 8px 0; 
    padding: 0 8px; 
    text-align: center;
    font-weight: 600;
}

/*AUTORET*/
.autoret{
  background-color: #fff;
}
.autoret .heading{
  color: #333;
  margin-top: 80px;
  font-size: 2.5rem; 
  font-style: unset;

}
.autoret .box-container {
  display: grid;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); 
  gap: 1.5rem;
  padding: 5rem 0;
}

.autoret .box-container .box {
  aspect-ratio: 1 / 1; 
  padding: 3rem;
  margin-top: 10px;
  position: relative;
  text-align: center;
  background: #f5f2f2;
  box-shadow: 0 .1rem .5rem rgba(0, 0, 0,.1);
  border-radius: .5rem;
}

.autoret .box-container .box:hover{
  transform: translate(-5%);
  transition: .5s linear;
  background: #fff;
  border: .2rem solid #f8f8a1;
}

.autoret .box-container .box .image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.autoret .box-container .box .image img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -6rem;
}

.autoret .box-container .box .name{
  padding: 1rem 0;
}

.autoret .box-container .box .name h1{
  font-size: 1.7rem;
  color: var(--black);
}

.autoret .box-container .box .name p{
  color: #222;
  font-size: 1.5rem;
}

.autoret .box-container .box .name p span{
  text-transform: none;
}

.autoret .box-container .box p{
  font-size: 1.5rem;
  color: #333;
  font-weight: 400;
  line-height: 1.1;

}

/*FOOTER*/

footer {
  bottom: 0;
}


.footer-distributed {
  background-color: #1d0c01;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: rgb(240, 150, 90);
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-distributed .footer-center img {
  margin-right: 10px;
  width: 25px; 
  height: 25px; 
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(240, 150, 90);
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: #3F71EA;
}
/*footer ends*/


/*hamburger menu*/
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #1d0c01;
  position: absolute;
  top: 55px; 
  right: 20px;
  z-index: 1000;
}
/*RESPONSIVE*/
@media only screen and (max-width: 1200px) {
  nav {
      padding: 10px; 
  }

  nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      background-color: white;
      width: 100%;
      text-align: center;
  }
  nav ul li a {
      color: black;
  }   

  nav ul.show {
      display: flex;
        position: relative;
        z-index: 5; 
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .menu-toggle {
      display: flex;
      bottom: 30px; 
      right: 20px; 
      z-index: 800;

  }
  nav .logo {
      padding: 5px 0px;
      height: 90px;
      margin-bottom: 60px;
      float: left;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
  }
  .navbar .main .main_img img{
    width: 690px;
    position: relative;
    bottom: 40px;
    right: 20px;
}
}

@media (max-width: 1200px) {
  .navbar .main {
      flex-direction: column;
      align-items: center;
  }

  .navbar .main h1 {
      font-size: 45px;
      bottom: 15px;
      right: 0;
  }

  .navbar .main p {
      width: 90%;
      top: 100px;
      left: 0;
      text-align: center;
  }

  .navbar .main .main_img img {
      width: 80%;
      bottom: 10px;
      right: 0;
  }
}

@media (max-width: 768px) {
  .navbar .main h1 {
      font-size: 35px;
      bottom: 10px;
  }

  .navbar .main p {
      width: 100%;
      top: 75px;
      left: 0;
  }
  .navbar .main .main_img img {
      width: 100%;
      bottom: 50px;
  }
  .services .services_box .services_card {
    width: 100%; 
    padding: 10px; 
  }
  .new-book .box{
    flex-direction: column;
  }
  .autoret .box-container{
    padding: 1rem 0;
  }

  .autoret .box-container .box{
    margin-top: 3rem;
  }

  .autoret .box-container .box p{
    font-size: 1.3rem;
    color: #333;
    font-weight: 400;
    line-height: 1.0;
    text-align: justify;
  }
}


@media (max-width: 480px) {
  .navbar .main h1 {
      font-size: 25px;
      bottom: 5px;
  }

  .navbar .main p {
      width: 100%;
      font-size: 14px;
      line-height: 18px;
      top: 50px;
  }

  .navbar .main .main_img img {
      width: 100%;
      bottom: 20px;
  }
  .services .services_box .services_card {
    width: 100%; 
    padding: 8px; 
}


}

@media (max-width: 1024px) {
  .services .services_box {
      flex-direction: column;
      align-items: center;
  }

  .services .services_box .services_card {
      width: 80%;
  }

  .heading {
      font-size: 22px; 
  }

  .new-book .box {
      width: 100px; 
  }

  .new .heading {
      font-size: 32px; 
  }
}



@media (max-width: 1024px) {
  .services .services_box .services_card {
    width: 100%; 
    padding: 8px; 
}
  .new .heading {
      font-size: 36px;
  }

  .new-book .box {
      width: 120px;
  }
}

@media (max-width: 768px) {
  .autoret .box-container {
    flex-direction: column;
  }

  .autoret .box-container .box {
    padding: 2rem;
  }

  .autoret .box-container .box .image img {
    width: 8rem; 
    height: 8rem;
    top: -4rem;
  }

  .autoret .box-container .box .name h1 {
    font-size: 1.5rem;
  }

  .autoret .box-container .box .name p {
    font-size: 1.3rem; 
  }

  .autoret .box-container .box p {
    font-size: 1.3rem; 
  }
}

@media (max-width: 768px) {
  .kategori .kategori-botimet {
      flex-direction: column; 
  }

  .kategori .botimet {
      width: 100%; 
  }
}

@media (max-width: 700px) {

  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}
